{% extends 'base.html' %}
{% set active_page = "docs" %}

{% block title %}{{ super() }} | API Documentation{% endblock %}
{% block content %}
<section>
  <div class="page-header">
      <h1>Getting Started <small>{{ config['SITE_NAME'] }} is a RESTful image manipulation webservice</small></h1>
  </div>
</section>
<div class="row">
  <div class="span5">
    <section id="requests">
      <h2>Basic Requests</h2>
      <p></p>
      <p>The API accepts requests as part of the query string or may be encoded with a <code>multipart/form-data</code> encoding, as part of a HTML form.</p>
      <p>Requests can be made to the appropriate APIs using the following HTTP methods:</p>
      <p><a class="btn-mini btn-inverse" style="text-decoration: none;">OPTIONS</a> - Returns the API specification in JSON format</p>
      <p><a class="btn-mini btn-primary" style="text-decoration: none;">GET</a> - Requests a external or lobcder resource via the API</p>
      <p><a class="btn-mini btn-success" style="text-decoration: none;">POST</a> - Posts a local resource via the API</p>
      <p>You may use <code>lob://</code> as shorthand for accessing the LOBCDER WebDAV resources. Note, however that you are chrooted to <code>/public</code> until further notice.</p>
    </section>
  </div>
  <div class="span5">
    <section id="responses">
      <h2>Basic Responses</h2>
      <p></p>
      <p>For all methods, the API respondes in JSON, by default. This can be overridden using the <code>format</code> paramemter string construction within the url request.</p>
      <p>The <code>identify</code> method supports JSON and XML.</p>
      <p>The <code>convert</code> method supports the image mimetype or JSON on error.</p>
    </section>
  </div>
</div>
<hr/>
<div class="row">
  <div class="span5">
    <section id="security">
      <h2>Security</h2>
      <p></p>
      <p><span class="badge badge-error">Danger, Will Robinson. Danger!</span></p>
      <p style="color: #B94A48;"><strong>This service does not implement any form of security whatsoever. It can access all files on the LOBCDER storage platform, without discrimination. Use at your own peril.</strong></p>
      <p><a class="btn-mini btn-success" style="text-decoration: none;">POST</a> methods, for this reason have been purposly disabled to ensure you do not do anything stupid.</p>
      <p>Due to to very natuure of this webservice, this API does not protect you from <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">Cross-Site Requst Forgeries</a>. If you plan to deploy this with a private please use the <code>@crossdomain</code> decorator.</p>
      <p>If you plan to deploy this in production, set <code>USE_SSL = True</code> and place it behind an Apache/nginx root server.</p>
      <p>Later versions of this service will handle, at the very least <a href=" HTTP Basic-Auth">HTTP Basic-Auth</a> or <a href="http://en.wikipedia.org/wiki/Digest_access_authentication">HTTP Digest-Auth</a> for LOBCDER access using credential delegation.</p>
    </section>
  </div>
  <div class="span5">
    <section id="errors">
      <h2>Error Responses</h2>
      <p></p>
      <p>When you boil it down, there are really only 3 outcomes in the interaction between an app and an API:</p>
      <ul>
        <li>Everything worked</li>
        <li>The application did something wrong</li>
        <li>The API did something wrong</li>
      </ul>
      <p>By default the API returns a json wrapped standard HTTP error:</p>
      <ul>
        <li><a href="/error/400">400</a> : Bad Request - The request to the API you are trying to access was malformed. See response body for details</li>
        <li><a href="/error/404">404</a> : Not Found - API endpoint or resource you are attempting to access does not exist</li>
        <li><a href="/error/418">418</a> : I'm a Teapot - Earl Grey and a wedge of Lemon, Please</li>
        <li><a href="/error/500">500</a> : Internal Server Error - Request was recieved, but a server error occurred. Se response body for details</li>
      </ul>
      <p>For legacy clients that often handle HTTP errors incorrectly, you may use <code>surpress_error=True</code> parameter to wrap the error in a <a href="/error/200">200</a> - OK HTTP status.</p>
    </section>
  </div>
</div>
<hr>
<div class="row" style="text-align: center;">
  <div class="span10">
    <div class="alert alert-block">
      <h3 class="alert-heading">The Latest API Base URL - <a href="/v1?_method=OPTIONS" target="_blank">{{ config['CANONICAL_SERVER'] }}v1</a></h3>
    </div>
  </div>
</div>
<section id="identify">
  <div class="row">
    <div class="span1"><h3>v1/identify</h3></div>
    <div class="span9" align="right"><h3><small>Describes the format and characteristics of image file.</small></h3></div>
  </div>
  <div class="row">
    <div class="span10">
      <div class="accordion" id="identify-accordian">
        <div class="accordion-group">
          <div class="accordion-heading" style="background-color: #E7E7E7;">
            <a class="accordion-toggle" style="text-decoration: none;" data-toggle="collapse" href="#optionIdentify">
              <div class="row">
                <div class="span1" style="color: #333333;"><button class="btn-mini btn-inverse">OPTIONS</button></div>
                <div class="span5" style="color: #333333;"><h4>/identify</h4></div>
                <div align="right" style="color: #333333;"><h4>Returns the 'identify' api specification</h4></div>
              </div>
            </a>
          </div>
          <div id="optionIdentify" class="accordion-body collapse">
            <div class="accordion-inner" style="background-color: #E7E7E7;">
              <div>This method allows the client to determine the options and/or requirements associated with the 'identify' resource, without implying a resource action or initiating a resource retrieval. It returns a json response by default. Hopefully we will migrate this to a more RESTful standard like WADL.
              </div>
              <br/>
              <p class="pull-right"><a class="btn btn-inverse" href="/v1/identify?_method=OPTIONS" target="_blank">OPTIONS</a></p>
              <p>cURL Example: <code>curl -X OPTIONS http://127.0.0.1:8080/v1/identify</code></p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading" style="background-color: #E7F0F7;">
            <a class="accordion-toggle" style="text-decoration: none;" data-toggle="collapse" href="#getIdentify">
              <div class="row">
                <div class="span1" style="color: #0F6AB4;"><button class="btn-mini btn-primary">GET</button></div>
                <div class="span5" style="color: #0F6AB4;"><h4>/identify.{format}</h4></div>
                <div style="color: #0F6AB4;" align="right"><h4>Returns attributes of external source image</h4></div>
              </div>
            </a>
          </div>
          <div id="getIdentify" class="accordion-body collapse">
            <div class="accordion-inner" style="background-color: #E7F0F7;">
              <form class="form-horizontal" id="frmGetIdentify" action="/v1/identify" method="get" target="_blank" enctype="multipart/form-data" style="background-color: #E7F0F7; vertical-align: middle;">
                <table class="table table-condensed">
                  <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="vertical-align:middle;">format</td>
                        <td style="vertical-align:middle;"><input id="format" name="format" type="text" class="span3" placeholder="xml or json"></td>
                        <td style="vertical-align:middle;">Specify the format of the response. Supports an xml or json metadata response. Default: json</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">src</td>
                        <td style="vertical-align:middle;"><input id="src" name="src" type="text" class="span3" placeholder="source url"></td>
                        <td style="vertical-align:middle;"><span class="badge badge-error">Required</span> The source url of the image to identify. Eg. <code>{{ config['LOBCDER_DAV_ROOT'] }}Lenna.png</code>. Supports HTTP and LOB URLs to 'jpg', 'jpe', 'jpeg', 'png',  'svg', 'bmp', 'tif' filetypes.</td>
                      </tr>
                    </tbody>
                </table>
                <p class="pull-right"><button id="btnGetIdentify" type="submit" class="btn btn-primary">GET</button></p>
                <p>cURL Example: <code>curl -X GET http://127.0.0.1:8080/v1/identify.xml?src=http://bit.ly/JdF8t0</code></p>
              </form>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading" style="background-color: #E7F6EC;">
            <a class="accordion-toggle" style="text-decoration: none;" data-toggle="collapse" href="#postIdentify">
              <div class="row">
                <div class="span1" style="color: #10A54A;"><button class="btn-mini btn-success">POST</button></div>
                <div class="span5" style="color: #10A54A;"><h4>/identify.{format}</h4></div>
                <div style="color: #10A54A;" align="right"><h4><span class="badge badge-error">Disabled</span> Returns attributes of an uploaded image</h4></div>
              </div>
            </a>
          </div>
          <div id="postIdentify" class="accordion-body collapse">
            <div class="accordion-inner" style="background-color: #E7F6EC;">
              <form class="form-horizontal" id="frmPostIdentify" method="post" target="_blank" enctype="multipart/form-data" style="background-color: #E7F6EC;">
                <table class="table table-condensed">
                  <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="vertical-align:middle;">format</td>
                        <td style="vertical-align:middle;"><input id="format" type="text" class="span3 disabled" disabled="disabled" placeholder="xml or json"></td>
                        <td style="vertical-align:middle;">Specify the format of the response. Supports an xml or json metadata response. Default: json</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">file</td>
                        <td style="vertical-align:middle;"><input id="file" type="file" class="span3 disabled" disabled="disabled"></td>
                        <td style="vertical-align:middle;"><span class="badge badge-error">Required</span> The image to be uploaded for identification. Supported filetypes - 'jpg', 'jpe', 'jpeg', 'png',  'svg', 'bmp', 'tif'.</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">dest</td>
                        <td style="vertical-align:middle;"><input id="dest" form="frmPostIdentify" type="text" accept="mimetype" class="span3 disabled" disabled="disabled" placeholder="destination path"></td>
                        <td style="vertical-align:middle;"><span class="badge badge-warning">Optional</span> LOBCDER destination path. Eg. <code>{{ config['LOBCDER_DAV_ROOT'] }}Lenna.png</code>. Note: Using this parameter breaks the RESTful idempotent nature of this method as it returns the attributes of a POSTed file. Ideally you would perform the same operation using a seperate POST to upload the file and then GET the file back.</td>
                      </tr>
                    </tbody>
                </table>
                <div align="right"><button id="btnPostIdentify" type="submit" class="btn btn-success disabled">POST</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="convert">
  <div class="row">
    <div class="span1"><h3>v1/convert</h3></div>
    <div class="span9" align="right"><h3><small>Transforms an image to an output image whilst applying the specified transforms.</small></h3></div>
  </div>
  <div class="row">
    <div class="span10">
      <div class="accordion" id="convert-accordian">
        <div class="accordion-group">
          <div class="accordion-heading" style="background-color: #E7E7E7;">
            <a class="accordion-toggle" style="text-decoration: none;" data-toggle="collapse" href="#optionConvert">
              <div class="row">
                <div class="span1" style="color: #333333;"><button class="btn-mini btn-inverse">OPTIONS</button></div>
                <div class="span5" style="color: #333333;"><h4>/convert</h4></div>
                <div align="right" style="color: #333333;"><h4>Returns the 'convert' api specification</h4></div>
              </div>
            </a>
          </div>
          <div id="optionConvert" class="accordion-body collapse">
            <div class="accordion-inner" style="background-color: #E7E7E7;">
              <div>This method allows the client to determine the options and/or requirements associated with the 'convert' resource, without implying a resource action or initiating a resource retrieval. It returns a json response by default. Hopefully we will migrate this to a more RESTful standard like WADL.
              </div>
              <br/>
              <p class="pull-right"><a class="btn btn-inverse" href="/v1/convert?_method=OPTIONS" target="_blank">OPTIONS</a></p>
            <p>cURL Example: <code>curl -X OPTIONS http://127.0.0.1:8080/v1/convert</code></p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading" style="background-color: #E7F0F7;">
            <a class="accordion-toggle" style="text-decoration: none;" data-toggle="collapse" href="#getConvert">
              <div class="row">
                <div class="span1" style="color: #0F6AB4;"><button class="btn-mini btn-primary">GET</button></div>
                <div class="span5" style="color: #0F6AB4;"><h4>/convert</h4></div>
                <div style="color: #0F6AB4;" align="right"><h4>Returns a transformed external source image</h4></div>
              </div>
            </a>
          </div>
          <div id="getConvert" class="accordion-body collapse">
            <div class="accordion-inner" style="background-color: #E7F0F7;">
              <form class="form-horizontal" id="frmGetConvert" action="/v1/convert" method="get" target="_blank" enctype="multipart/form-data" style="background-color: #E7F0F7; vertical-align: middle;">
                <table class="table table-condensed">
                  <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="vertical-align:middle;">flip</td>
                        <td style="vertical-align:middle;"><input id="flip" name="flip" type="text" class="span3" placeholder="H or V"></td>
                        <td style="vertical-align:middle;">Applies a mirror transform along the vertical or horizontal direction. Supports 'V'(vertical) or 'H'(horizontal)</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">format</td>
                        <td style="vertical-align:middle;"><input id="format" name="format" type="text" class="span3" placeholder="png or jpg or tiff" /></td>
                        <td style="vertical-align:middle;">Converts image into specified format. Supports png, jpg and tiff</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">resize</td>
                        <td style="vertical-align:middle;"><input id="resize" name="resize"type="text" class="span3" placeholder="WxH"></td>
                        <td style="vertical-align:middle;">Resizes the image specified in "WxH" format. where W and H are pixel dimensions and are separated by an "x" (e.g., "75x200")</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">rotate</td>
                        <td style="vertical-align:middle;"><input id="rotate" name="rotate"type="text" class="span3" placeholder="D"></td>
                        <td style="vertical-align:middle;">Rotates the image specified in "D" format, where D is between -360.0 and 360.0 except 0.</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">src</td>
                        <td style="vertical-align:middle;"><input id="src" name="src" type="text" class="span3" placeholder="source url"></td>
                        <td style="vertical-align:middle;"><span class="badge badge-error">Required</span> The source url of the image to convert. Eg. <code>{{ config['LOBCDER_DAV_ROOT'] }}Lenna.png</code>. Supports HTTP and LOB URLs to 'jpg', 'jpe', 'jpeg', 'png',  'svg', 'bmp', 'tif' filetypes.</td>
                      </tr>
                    </tbody>
                </table>
                <p class="pull-right"><button id="btnGetConvert" type="submit" class="btn btn-primary">GET</button></p>
                <p>cURL Example: <code>curl -X GET http://127.0.0.1:8080/v1/convert?flip=V&src=http://bit.ly/JdF8t0</code></p>
              </form>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading" style="background-color: #E7F6EC;">
            <a class="accordion-toggle" style="text-decoration: none;" data-toggle="collapse" href="#postConvert">
              <div class="row">
                <div class="span1" style="color: #10A54A;"><button class="btn-mini btn-success">POST</button></div>
                <div class="span5" style="color: #10A54A;"><h4>/convert</h4></div>
                <div style="color: #10A54A;" align="right"><h4><span class="badge badge-error">Disabled</span> Transforms an uploaded image on-the-fly</h4></div>
              </div>
            </a>
          </div>
          <div id="postConvert" class="accordion-body collapse">
            <div class="accordion-inner" style="background-color: #E7F6EC;">
              <form class="form-horizontal" id="frmPostConvert" method="post" target="_blank" enctype="multipart/form-data" style="background-color: #E7F6EC;">
                <table class="table table-condensed">
                  <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="vertical-align:middle;">flip</td>
                        <td style="vertical-align:middle;"><input id="flip" name="flip" type="text" class="span3 diabled" disabled="disabled" placeholder="H or V"></td>
                        <td style="vertical-align:middle;">Applies a mirror transform along the vertical or horizontal direction. Supports 'V'(vertical) or 'H'(horizontal)</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">format</td>
                        <td style="vertical-align:middle;"><input id="format" name="format" type="text" class="span3 disabled" disabled="disabled" placeholder="png or jpg or tif"></td>
                        <td style="vertical-align:middle;">Converts image into specified format. Supports  png, jpg or tiff</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">resize</td>
                        <td style="vertical-align:middle;"><input id="resize" name="resize" type="text" class="span3 disabled" disabled="disabled" placeholder="WxH"></td>
                        <td style="vertical-align:middle;">Resizes the image specified in "WxH" format. where W and H are pixel dimensions and are separated by an "x" (e.g., "75x200")</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">rotate</td>
                        <td style="vertical-align:middle;"><input id="rotate" name="rotate" type="text" class="span3 disabled" disabled="disabled" placeholder="D"></td>
                        <td style="vertical-align:middle;">Rotates the image specified in "D" format, where D is between -360.0 and 360.0 except 0.</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">file</td>
                        <td style="vertical-align:middle;"><input id="file" name="file" type="file" class="span3 disabled" disabled="disabled"></td>
                        <td style="vertical-align:middle;"><span class="badge badge-error">Required</span> The image to be uploaded for convertion. Supported filetypes - 'jpg', 'jpe', 'jpeg', 'png',  'svg', 'bmp', 'tif'</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:middle;">dest</td>
                        <td style="vertical-align:middle;"><input id="dest" name="dest" type="text" class="span3 disabled" disabled="disabled" placeholder="destination path"></td>
                        <td style="vertical-align:middle;"><span class="badge badge-warning">Optional</span> LOBCDER destination path. Eg. <code>{{ config['LOBCDER_DAV_ROOT'] }}Lenna.png</code></td>
                      </tr>
                    </tbody>
                </table>
                <div align="right"><button id="btnPostConvert" name="btnPostConvert" type="submit" class="btn btn-success disabled">POST</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block javascript %}
    {{ super() }}
    <script src="static/extras/form/jquery.form.js"></script>
{% endblock %}